<%= @book.title %><br>
<div class='text'>
  <div class='text-content'>
    <%= @book.content[1000 * (@pagenum - 1), 1000] %><br>
  </div>
  <% unless @book.content[1000 * (@pagenum - 1), 1000] == nil %><br>
    <%= link_to '次のページへ進む', book_page_path(book_id: @book.id, id: (@pagenum + 1)) %>
  <% end %>
  <% if @pagenum > 1 %>
    <%= link_to '前のページへ戻る', book_page_path(book_id: @book.id, id: (@pagenum - 1)) %>
  <% end %>
  <% unless Bookmark.exists?(book_id: @book.id) %>
    <%= link_to '新しくしおりを挟む', book_bookmarks_path(page: {book_id: @book.id, pagenum: @pagenum}), method: :post %>
  <% else %>
    <%= link_to 'しおりを挟む', book_bookmark_path(params: {book_id: @book.id, pagenum: @pagenum}), method: :put %>
  <% end %>
</div>