<div class='text'>
  <%= @book.title %><br>
  <%= image_tag @book.image if @book.image.attached?%>
  <%= link_to '初めから読む', book_page_path(book_id: @book.id, id: 1, booknum: 1, pagenum: 1) %>
  <%= link_to '続きから読む', book_page_path(book_id: @book.id, id: @book.page.pagenum, 
      booknum: @book.id, pagenum: @book.page.pagenum) if Page.exists?(book_id: @book.id) %>
  <%= link_to 'トップページに戻る' , root_path %>
</div>